# Ambientes Virtuais do Python
venv/
.venv/
**/venv/
**/.venv/
__pycache__/
*.pyc

# Arquivos de Configuração e Banco Local
.env
*.db

# Node / React Native (para o app mobile)
node_modules/
.expo/
npm-debug.log*
yarn-debug.log*
yarn-error.log*